* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1020;
  color: white;
}

.app {
  min-height: 100vh;
  display: flex;
}

/* Sidebar */

.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #0f1428;
  border-right: 1px solid #202642;
  padding: 25px 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
}

.logo-icon {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background: #6d3df5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.logo h2 {
  margin: 0;
  font-size: 21px;
}

.logo p {
  margin: 3px 0 0;
  color: #858ba8;
  font-size: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-item {
  padding: 13px 15px;
  border-radius: 10px;
  color: #b7bdd8;
  cursor: pointer;
}

.nav-item:hover {
  background: #211c4a;
  color: white;
}

.nav-item.active {
  background: #4930a8;
  color: white;
}

/* Main */

.main {
  flex: 1;
  padding: 30px;
  max-width: 1400px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.welcome-text {
  color:#858ba8;
  margin: 0 0 8px;
  font-size: 14px;
}
.dashboard-header h1 {
  margin: 0;
  font-size: 32px;
}
.subtitle {
  color: #858ba8;
  margin-top: 8px;
}
.add-task-button {
background: #6d3df5;
color: white;
border:none;
padding:12px 20px;
border-radius: 10px;
font-size: 14px;
cursor:pointer;
}
.add-task-button:hover {
  background: #7d50ff;
}